<footer>
  <div class="borda"></div>
  <span class="copyright">
     <span class="copy">&copy;</span>&nbsp;2020&nbsp;
     <a href="https://www.linkedin.com/in/micheljohn/" target="_blank">Michel John.</a>
     Todos os direitos reservados.
  </span>
</footer>
</body>

<!-- scripts -->
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
</html>