<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/articleRegister.css">
  <link rel="stylesheet" href="/css/articles.css">
  <title>Skateboard por todos</title>
</head>
<body>
  <div class="bg-menu">
    <div class="container-menu">
      <nav class="menu">
        <input type="checkbox" id="menu-burger" style="display: none;">
    
        <label for="menu-burger">
          
          <div class="menu-hamburger">
            <span class="burger"></span>
          </div> <!-- menu-hamburger -->
    
        </label> <!-- menu-burger -->
        
        <div id="menuJs">
          <ul>
            <li><a href="/">início</a></li>
            <li><a href="/admin/articles">artigos</a></li>
            <li><a href="/admin/articles/new">postar</a></li>
            <!-- <li><a href="#">galeria</a></li> -->
            <!-- <li><a href="#">contato</a></li> -->
            <!-- <li><a href="/login">entrar</a></li> -->
            <li><a href="/logout">sair</a></li>
          </ul>
        </div> <!-- menuJs -->
      </nav> <!-- menu -->

      <div class="social">
        <div class="img-icon">
          <a href="https://mchjohn.github.io/meu-portfolio/" target="_blank"><img src="/images/facebook.png" alt="Meu Portfolio"></a>
        </div><!-- img-icon 1 -->

        <div class="img-icon">
          <a href="https://github.com/mchjohn" target="_blank"><img src="/images/github.png" alt="GitHub"></a>
        </div><!-- img-icon 2 -->

        <div class="img-icon">
          <a href="https://www.linkedin.com/in/micheljohn/" target="_blank"><img src="/images/linkedin.png" alt="Linkedin"></a>
        </div><!-- img-icon 3 -->

        <div class="img-icon">
          <a href="https://www.youtube.com/channel/UCbF5wo-J16Ubzjk3v1qgbwQ?view_as=subscriber" target="_blank"><img src="/images/youtube.png" alt="YouTube"></a>
        </div><!-- img-icon 4 -->

      </div><!-- social -->

    </div><!-- container-menu -->

  </div><!-- bg-menu -->