
<% if(isLogged != undefined) { %>
  <%- include ('partials/headerAdmin') %>
<% } else { %>
  <%- include ('partials/header') %>
<% } %>
    <div class="images-bg">
      <nav class="images-container">
        <ul>
          <li><img src="images/folder1.png" alt="folder information" class="mb"/></li>
          <li><img src="images/folder2.png" alt="folder information" class="mb"/></li>
          <li><img src="images/folder3.png" alt="folder information" class="mb"/></li>
          <li><img src="images/folder4.png" alt="folder information" class="mb"/></li>
          <li><img src="images/folder5.png" alt="folder information" class="mb"/></li>
          <li><img src="images/folder6.png" alt="folder information"/></li>
        </ul>
      </nav><!-- images-container -->
    </div><!-- images-bg -->

  </body>
</html>